<!DOCTYPE html>
<html>
  <head>
    <title>FortyTwoPx</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('px2.png'), :rel => 'icon', :type =>  'image/png' %>

    <script type="text/javascript">
       window.logoURL = "<%= image_url('px.png') %>"
       window.logoURL2 = "<%= image_url('px2.png') %>"
       window.defaultProfileURL = "<%= image_url('default.jpg') %>"
       window.mainImgURL = "<%= image_url('main.jpg') %>"
       window.uploadArrow = "<%= image_url('arrow.png') %>"
       window.aboutPic = "<%= image_url('about.jpg') %>"
       window.h1 = "<%= image_url('h1.jpeg') %>"
       window.h2 = "<%= image_url('h2.jpeg') %>"

    </script>

    <% if logged_in? %>

    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
